*
{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0
}

body 
{
    font-family: -apple-system, BlinkMacSystemFont, Roboto, Open Sans, Helvetica Neue, sans-serif;
}

.main_wrapper
{
    width: 1200px;
    margin: 0 auto;
}

p
{
    padding-left: 10px;
    margin: 5px;
}

p.sign
{
    text-align: right;
}

.header_left
{
    float: left;
    width: 40%;
}

.header_right
{
    float: right;
    max-width: 60%;
}

.my_photo
{
    margin: 10%;
    width: 80%;
}

.list
{
    width: 42%;
    margin: 2%;
    float: left;
    position: relative;
    left: 50%
}

.list_relative_container
{
    position: relative;
    right: 50%;
}

.list_education
{
    float: left; 
}

.list_hobby
{
    float: right;
}

.histories
{
    float: left;
}

h1, h2, h3 
{
    text-align: center;
}

h1
{
    margin-top: 40px;
}

h2
{
    margin: 10px;
}

.film_border
{
    border-right: 1px solid #555555;
}

.my_screenshot
{
    max-width: 100%
}

.my_film_description
{
    text-align: justify;
    padding-left: 0px;
}

.container 
{
    float: left;
    width: 100%;
}

.film_relative_container 
{
    position: relative;
    right: 25%;
}

.film
{
    float: left;
    width: 23%;
    position: relative;
}

.film1 
{
    left: 76%;
}

.film2 
{
    left: 78%;
}

.film3 
{
    left: 80%;
}

.film4 
{
    left: 82%;
}

.clear
{
    clear: both;
}